# This is a sample application.properties file for reference.
# This file assumes you are using a .env file with the required keys.
# -------------------------------------------------------------------

spring.config.import=optional:file:.env[.properties]

# -------------------------------------------------------------------
# Application configuration
spring.application.name=${APP_NAME}

# -------------------------------------------------------------------
# MySQL configuration
spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}
spring.jpa.hibernate.ddl-auto=${DDL_AUTO}
spring.datasource.driver-class-name=${DB_DRIVER}
spring.jpa.show-sql=${SHOW_SQL}

# -------------------------------------------------------------------
# MongoDB configuration
spring.data.mongodb.uri=${MONGO_URL}
spring.data.mongodb.database=${MONGO_DATABASE}

# -------------------------------------------------------------------
# JWT configuration
jwt.secret=${JWT_SECRET_KEY}

# JWT Tokens Expiration Time (in milliseconds)
jwt.access-token.expiration.user=${USER_ACCESS_TOKEN_EXPIRATION}
jwt.access-token.expiration.admin=${ADMIN_ACCESS_TOKEN_EXPIRATION}
jwt.refresh-token.expiration=${REFRESH_TOKEN_EXPIRATION}

# -------------------------------------------------------------------
# Application base path
server.servlet.context-path=${CONTEXT_PATH}

# -------------------------------------------------------------------
# CORS configuration (optional)
# spring.mvc.cors.allowed-origins=${CORS_ALLOWED_ORIGINS}
# spring.mvc.cors.allowed-methods=${CORS_ALLOWED_METHODS}
# spring.mvc.cors.allowed-headers=${CORS_ALLOWED_HEADERS}

# -------------------------------------------------------------------
# Mail configuration
spring.mail.host=${EMAIL_HOST}
spring.mail.port=${EMAIL_PORT}
spring.mail.username=${EMAIL_USERNAME}
spring.mail.password=${EMAIL_PASSWORD}
spring.mail.properties.mail.smtp.auth=${EMAIL_SMTP_AUTH}
spring.mail.properties.mail.smtp.starttls.enable=${EMAIL.SMTP.STARTTLS.ENABLE}

# -------------------------------------------------------------------
# API Documentation Configuration
springdoc.api-docs.path=${API_DOCS_PATH}
springdoc.swagger-ui.path=${SWAGGER_UI_PATH}

# -------------------------------------------------------------------
# Actuator Configuration
management.endpoints.web.exposure.include=${WEB_EXPOSURE_INCLUDE}
management.endpoint.metrics.enabled=${METRICS_ENABLED}
management.endpoint.health.show-details=${HEALTH_SHOW_DETAILS}

# -------------------------------------------------------------------
# Logging Configuration
logging.level.root=${LOGGING_LEVEL_ROOT}
logging.level.com.project.aptflow=${LOGGING_LEVEL_COM}

# -------------------------------------------------------------------
# Forgot Password Configuration
app.reset.url=${RESET_URL}

# -------------------------------------------------------------------
# Razorpay Configuration
razorpay.key.id=${RAZORPAY_KEY_ID}
razorpay.key.secret=${RAZORPAY_KEY_SECRET}
razorpay.webhook.secret=${RAZORPAY_WEBHOOK_SECRET}

# -------------------------------------------------------------------
# Redis Configuration
spring.redis.host=${REDIS_HOST}
spring.redis.port=${REDIS_PORT}
